{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="genus-name">Page not found !!!</h2>
    <div class="cd-container">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {# ... #}
        {% endif %}

        <p>
            The requested page couldn't be located. Checkout for any URL
            misspelling or <a href="{{ path('homepage') }}">return to the homepage</a>.
        </p>
    </div>
{% endblock %}